<table>
  <tr>
    <td>
      <div (click)="seven()">7</div>
    </td>
    <td>
      <div (click)="eight()">8</div>
    </td>
    <td>
      <div (click)="nine()">9</div>
    </td>
  </tr>
  <tr>
    <td>
      <div (click)="four()">4</div>
    </td>
    <td>
      <div (click)="five()">5</div>
    </td>
    <td>
      <div (click)="six()">6</div>
    </td>
  </tr>
  <tr>
    <td>
      <div (click)="one()">1</div>
    </td>
    <td>
      <div (click)="two()">2</div>
    </td>
    <td>
      <div (click)="three()">3</div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="nothing">0</div>
    </td>
    <td>
      <div (click)="zero()">0</div>
    </td>
    <td>
      <div (click)="erase()">c</div>
    </td>
  </tr>
</table>